<article>
    <header class="col-header-text container-max header-services">
        <div class="header-text animated fadeInUp" data-delay="">
            <h1 class="entry-title">Who We Are</h1>

        </div>
    </header>
    <div class="entry-content">
        <section class="section-content section-start container-fluid container-max">
            <div class="row">
                <div class="col-xs-12 col-start-img">
                    <div>
                        <img width="1920" height="1050"
                            src="assets/img/about-us.jpg" class="auto-size"> </div>
                </div>
                <div class="col-xs-12 col-md-10 col-lg-9 col-md-push-2 col-lg-push-3 col-right-side col-start-info">
                    <div class="animated fadeInUp">
                        <div class="start-header">
                            <h3>About Us</h3>
                        </div>
                        <div>
                                <p>Conceived in Nigeria but desirous of impacting African businesses, Candor Consulting is
                                        geared to provide a wide range of services that solve business issues. We are proud to be
                                        nimble, responsive and open-minded, thereby enabling us to provide the services you really
                                        need – quickly, and at a competitive price point. We are undaunted by the larger,
                                        international and regional players because we have the partnerships and experienced faculty
                                        that will deliver value for you – simply. .</p>
                                    <p>Starting off providing mainly recruitment and
                                        training services, our portfolio has expanded to meet the growing and pertinent needs of
                                        African businesses. Companies want to focus on their core services and minimize costs; we
                                        can provide IT, HR and project staff for your select operations. Other HR and IT services
                                        can also be ‘outsourced’ to us with guaranteed service levels agreed.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-shortcode">
            <section class="section-grid container-max">
                <ul class="list-unstyled">
                    <li class="animated fadeInUp">
                        <h4 class="text-primary">Vision</h4>"To empower individuals and organizations for effectiveness"
                    </li>
                    <li class="animated fadeInUp">
                        <h4 class="text-primary">Mission</h4>"To be the leading practical solution provider for African
                        businesses."
                    </li>
                </ul>
            </section>
        </section>
        <section class="section-content section-overlap container-fluid container-max">
            <div class="row">
                <div class="col-xs-12 col-sm-7 col-overlap-img"><img width="1000" height="900"
                        src="assets/img/partnership.jpg" class="auto-size" /></div>
                <div class="col-xs-12 col-sm-5 col-overlap-content">
                    <div>
                        <div class="start-header">
                            <h3>Partnerships</h3>
                        </div>
                        <p>We now partner with leading IT companies in India to provide cloud-based, performance
                            management and service desk applications. Whether you are an employee or a manager, at home,
                            in a café or abroad, you can monitor your individual, team and companies performance, and
                            hold appraisals or performance enhancing conversations 1on1 or remotely, while capturing
                            information in our easy-to-use, highly collaborative software African businesses are
                            beginning to embrace the value of Executive, Peer and Management coaching. To a large
                            extent, training doesn’t change behavior, but coaching (or training + coaching), does. And
                            this directly impacts on business results. We engage the individuals/teams, and the
                            stakeholders and work with them over 3-18 month periods, to facilitate behavioural change
                            and business results</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-content section-overlap container-fluid container-max">
            <div class="row">
                <div class="col-xs-12 col-sm-7 col-sm-push-5 col-push col-overlap-img"><img width="1000" height="1000"
                        src="assets/img/workshop.jpg" class="auto-size"></div>
                <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-pull col-overlap-content">
                    <div>
                        <div class="start-header">
                            <h3>Workshops</h3>
                        </div>
                        <p>Our management workshops are highly engaging, no-holds-barred, open conversations and
                            debates, that help organizations break away from internal inhibitions (politics & silos,
                            poor collaboration or retrogressive culture) and prepare organizations for the highly
                            competitive, disruptive and tough environment out there</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-shortcode">
            <section class="section-grid container-max">
                <h1 class="text-center animated fadeInUp">Our Values</h1>
                <ul class="list-unstyled">
                    <li class="animated fadeInUp">
                        <h4 class="text-primary">Competitive & Winning Spirit</h4>We work with passion & enthusiasm. We
                        collaborate
                        seamlessly to get the
                        work done.
                        We don’t give up easily – no matter the opposition or obstacle.
                    </li>
                    <li class="animated fadeInUp">
                        <h4 class="text-primary">Open mindedness</h4>We think broadly, deliberate options and consider
                        alternatives. We don’t
                        say ‘it can’t be done’ – easily.
                    </li>
                    <li class="animated fadeInUp">
                        <h4 class="text-primary">Balance</h4> We work hard & play hard. We strive to impact society,
                        live healthy, prioritize
                        family time
                        and serve God. We celebrate achievements, commend good effort, learn from our mistakes and
                        don’t hesitate to correct unacceptable behavior & results.
                    </li>
                    <li class="animated fadeInUp">
                        <h4 class="text-primary">Simplicity</h4>Simplicity – no frills, no jargon. We communicate
                        clearly and succinctly.
                        Not striving to impress, only committed to deliver.
                    </li>
                </ul>
            </section>
        </section>
    </div>
</article>