<article>

    <header class="col-header-text container-max header-page">
        <div class="header-text animated fadeInUp">
            <h1 class="entry-title">Get in Touch</h1>
            <div>
                <p>Come by for tea, or send us a note.</p>
            </div>
        </div>
    </header>
    <div class="entry-content">
        <section class="section-shortcode">
            <div class="section-locations">
                <section class="container-max">
                    <div class="row-locations">
                        <div class="col-locations-img">
                            <img width="1000" height="667"
                                src="assets/img/lagos.jpg"/> </div>
                        <div class="col-locations-content">
                            <div>
                                <h4>Lagos Office</h4>
                                <p>71B Mainland Way, Dolphin Estate, Ikoyi <br />
                                    Candor Consulting<br />
                                    71B, Mainland Way <br />
                                    Dolphin Estate,<br />
                                    Ikoyi, <br />
                                    Lagos, Nigeria
                                </p>
                                <div class="locations-phone"><i class="material-icons">phone</i>
                                    <p> +234 809 900 7711</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
        <section class="section-content section-content container-fluid container-max">
            <div class="row animated fadeInUp">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div>
                        <p style="text-align: center;">For enquiries, email: <a><span>info@candor.ng</span></a>
                        </p>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-shortcode">
            <ul id="menu-nav-socials-1" class="">
                <li class="parent"><a href="#" data-name="Socials">Socials</a>
                    <ul class="sub-menu">
                        <li><a target="_blank" href="https://www.facebook.com/" data-name="Facebook">Facebook</a></li>
                        <li><a target="_blank" href="https://twitter.com" data-name="Twitter">Twitter</a></li>
                        <li><a target="_blank" href="https://www.instagram.com/" data-name="Instagram">Instagram</a>
                        </li>
                        <li><a href="https://www.linkedin.com">linkedin</a></li>
                    </ul>
                </li>
            </ul>
</article>