<html>

<head>
    <link rel="stylesheet" href="assets/css/editor.css" />
</head>

<body>

    <div id="gjs">

    </div>
    <div id="mySidenav" class="sidenav">
        <a onclick="jsload('header.html')">Header</a>
        <a onclick="jsload('footer.html')">Footer</a>
        <a onclick="jsload('index.html')">Home</a>
        <a onclick="jsload('about.html')">Who We Are</a>
        <a onclick="jsload('services.html')">What we Do</a>
        <a onclick="jsload('contact.html')">Get In Touch</a>
    </div>
    <script src="assets/js/jquery.js"></script>
    <script src="./editor.js"></script>
</body>

</html>